* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$arrow-bg:#FFEFF4;
$bg:#FDF5F8;
$book_name: #B90038;
$stars:#FC2D72;
$per:#FF004D;
$disprice:#989898;
$star:#FFCCCC;
$red_circle:#CA5C3B;
$blue-basket:#2D16B1;
$load:#1D030B;
$offer-bg:#D8F5FF;
$clock_bg:#A6DDF0;
$icon_bg:#434343;
$dropdown-menu:#CCBEBE;
$big-circle:#FFE0EB;

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a.basket-a {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: $blue-basket;
    font-family: 'medium';
}

a.pink-a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: $book_name;
    color: white;
    border-radius: 20px;
}


#basket {
    position: relative;
    margin-bottom: 8em;

    .basket-content {
        position: relative;
        z-index: 2;
        h4{
            font-size: 36px;
            font-family: 'semibold';
            color: $book_name;
        }
        .home-page-txt {
            font-size: 12px;
            font-family: 'regular';

            span {
                color: $book_name;
            }
        }

        #table-checkout{
            border-collapse: separate; border-spacing: 0;
      thead{
        th{
            text-align: center;
            border: none;
            padding-right: 45px;
            font-size: 14px;
            font-family: 'regular';
            color: #CCBEBE;
         }
      }
            tr{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px;
            border: none;
         }
            tbody{
              tr{
                border: none;
                border-radius: 60px;
                box-shadow: 0 2px 4px 0 #888;
                td{
                    padding: 8px 20px;
                    border: none;
                    font-family: 'regular';
                }
                .pro-count{
                    .frm-cont{
                    padding: 5px;
                    border: none;
                    background-color: $dropdown-menu;
                    border-radius: 50px !important;
                    width: 75px;
                    color: white;
                    &:focus{
                        outline: none;
                    }
                }
                }
                i{
                    background-color: $dropdown-menu;
                    border-radius: 50%;
                    color: white;
                    padding: 3px 6px;
                }
                .pro-code{
                    font-size: 16px;
                    font-family: 'regular';
                }
                .pro-info {
                    .pro-txt{
                        h6{
                            font-size: 16px;
                            font-family: 'semibold';
                            color: $book_name;
                        }
                        p{
                            font-size: 14px;
                            font-family: 'regular';
                        }
                    }
                }
              }
          }
          }
        .basket-buy-pro {
            position: relative;
            padding: 20px;
            background-color: $offer-bg;
            border-radius: 20px;

            h4 {
                font-size: 24px;
                font-family: 'semibold';
                padding-bottom: 20px;
            }

            .pro-txt {
                font-size: 16px;
                font-family: 'medium';
                color: #747474;
            }

            .pro-count {
                padding-left: 2em;
                font-size: 16px;
                font-family: 'semibold';
            }

            .pro-count2 {
                padding-left: 3.8em;
            }

            .inp-group {
                padding-top: 1.5em;
                padding-bottom: 3em;

                .inp-try {
                    margin-top: 15px;
                    border-radius: 35px 0 0 35px;
                    font-size: 14px;
                    font-family: 'medium';
                    &:focus{
                        box-shadow: none;
                    }
                    .btn-try {
                        background-color: #67C3ED;
                        color: white;
                        border-radius: 0 35px 35px 0;
                        font-size: 12px;
                        font-family: 'semibold';
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }

            .btn-cash {
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 0 0 20px 20px;
                padding: 5px;
                font-size: 24px;
                font-family: 'semibold';
                background-color: $book_name;
                border: none;
                outline: none;
                color: white;
            }

            .buy-load {
                text-decoration: underline;
                position: absolute;
                right: 0;
                bottom: -3em;
                font-size: 14px;
                font-family: 'medium';

                a {
                    color: #1D030B;
                }
            }
        }
    }

    .big-circle {
        position: absolute;
        z-index: 0;
        width: 450px;
        height: 450px;
        left: -14em;
        bottom: -22em;
        background-color: $big-circle;
        border-radius: 50%;
    }
}

@media only screen and (max-width:992px) {
    #basket {
        .big-circle {
            opacity: 0;
            visibility: hidden;
        }
    }
}

//section basket end 

// section offers start
#offers {
    position: relative;
    margin: 5em 0;
    overflow: hidden;

    .middle-circle {
        z-index: -1;
        position: absolute;
        bottom: 0em;
        right: -10em;
        width: 270px;
        height: 270px;
        background-color: $big-circle;
        border-radius: 50%;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 350px;
        background-color: $bg;
        left: 0;
        top: 5.5em;
        z-index: -1;
    }

    .offer-content {
        .offer-book {
            img {
                height: 264px;
                object-fit: cover;
            }

            p {
                font-family: 'regular';
            }

            h6 {
                color: $book_name;
                padding-top: 15px;
                font-family: 'semibold';
            }
        }

        .offer-week {
            position: relative;
            padding: 60px 33px 100px 33px;
            width: 350px;
            border-radius: 20px;
            background-color: $offer-bg;

            h3 {
                font-family: 'semibold';
            }

            h2 {
                font-size: 65px;
                color: $book_name;
                font-family: 'semibold';
            }

            .info {
                padding-bottom: 25px;
                font-size: 14px;
                font-family: 'regular';
            }

            .offer-txt {
                font-family: 'medium';
            }

            a {
                font-size: 14px;
                text-decoration: none;
                font-size: 'semibold';
            }

            .clock {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 61px;
                width: 100%;
                background-color: $clock_bg;
                border-radius: 0 0 20px 20px;

                h2 {
                    font-family: 'semibold';
                    font-size: 36px;
                    color: $book_name;
                }

                .clock-txt {
                    position: absolute;
                    top: 35px;
                    left: 5em;

                    span {
                        padding-right: 22px;
                        font-size: 12px;
                        color: #434343;
                        font-family: 'regular';
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    #offers {
        background-color: $bg;

        .offer-book {
            img {
                height: 235px !important;
            }
        }

        .offer-content {
            padding: 25px 0;

            .offer-week {
                padding: 70px 35px;
                width: 100%;
                margin: 15px 0;

                h2 {
                    font-size: 45px;
                }

                .info {
                    padding-bottom: 0;
                }

                a {
                    font-size: 16px;
                }

                .clock {
                    height: 45px;

                    h2 {
                        font-size: 30px;
                    }

                    .clock-txt {
                        display: none;
                        // left: 50%;
                        // transform: translateX(-45%);

                        // span {
                        //     padding-right: 16px;
                        // }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:992px) {
    #offers {
        .middle-circle {
            opacity: 0;
            visibility: hidden;
        }

        .info {
            font-size: 16px !important;
        }
    }
}

// section offers end

// section bestseller start

#bestseller {
    padding-bottom: 3em;
    padding-top: 6em;

    .bestseller-inner {
        padding-bottom: 4em;

        .bestseller-header {
            h2 {
                color: $book_name;
                font-family: 'semibold';
            }

            a {
                font-family: medium;
                color: $load;
                text-decoration: underline;
            }
        }
    }

    .bestseller-content {
        padding-top: 5em;

        .bestseller-card {
            .bestseller-text {
                transition: .2s ease-out;
                border-radius: 20px;
                position: relative;
                padding: 8em 20px 20px 40px;

                &:hover {
                    background-color: $bg;
                    box-shadow: #e38ab170 0px 40px 10px -10px;

                    .basket {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .percent {
                    z-index: 3;
                    position: absolute;
                    color: white;
                    width: 50px;
                    height: 50px;
                    font-size: 14px;
                    font-family: 'bold';
                    padding: 15px 8px;
                    background-color: $per;
                    border-radius: 50%;
                    top: -35%;
                    left: 65%;
                }

                a {
                    text-decoration: none;
                    font-size: 12px;
                    color: white;
                }

                .basket {
                    transition: opacity .3s ease-in-out;
                    opacity: 0;
                    visibility: hidden;
                }

                .book-name {
                    font-family: 'medium';
                }

                .author-name {
                    font-family: 'regular';
                }

                .book-name,
                .price {
                    color: $book_name;
                }

                .dis-price,
                .price {
                    font-family: 'semibold';
                }

                .dis-price {
                    color: $disprice;
                }

                .bestseller-img {
                    position: absolute;
                    top: -25%;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .fa-star {
                    color: $stars;
                    font-size: 12px;
                }

                .last-i {
                    color: $star;

                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    #bestseller {
        .bestseller-inner {
            padding: 0;
        }

        .bestseller-content {
            padding: 0;

            .bestseller-card {
                margin-top: 9em;

                .bestseller-text {
                    padding: 8em 15px 30px 15px;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    #bestseller {
        .bestseller-inner {
            .bestseller-header {
                h2 {
                    font-size: 24px;
                }
            }
        }

        .bestseller-content {
            .bestseller-card {
                h5 {
                    font-size: 16px;
                }

                .author-name {
                    font-size: 12px;
                }
            }
        }
    }
}

// section bestseller end